#tdv_viewport {
    width: 100%;
    height: 55vh;
    border: 1px solid black;
    overflow: hidden;
}

#tdv_canvas_container {
    background: white;
    position: relative;
}

#tdv_canvas {
    background-image: url('/images/svg/canvas_grid.svg');
}

#tdv_canvas .ticket {
    position: absolute;
    width: 120px;
    border: 1px solid blue;
    background: #ffff90;
    z-index: 100;
    cursor: grab;
    /* And the animation for when the ticket appears */
    animation: spinIn 0.5s ease-out;
    /* Chrome, Safari, Opera... */
    -webkit-animation: spinIn 0.5s ease-out;
}
#tdv_canvas .ticket.remove {
    /* And the animation for when the ticket disappears */
    animation: spinOut 0.75s ease-out;
    animation-fill-mode: forwards; /* Makes sure that the ticket stays hidden while the JS actually removes the elements. */
    /* Chrome, Safari, Opera... */
    -webkit-animation: spinOut 0.75s ease-out;
    -webkit-animation-fill-mode: forwards;
}

#tdv_canvas .ticket .header {
    width: 100%;
    height: 21px;
    background: lightblue;
    border-bottom: 1px solid blue;
}

#tdv_canvas .ticket .header .ticket_id {
    margin-left: 2px;
}
#tdv_canvas .ticket .header .ticket_id a {
    color: black;
}

#tdv_canvas .ticket .header .remove {
    margin-top: 2px;
    margin-right: 2px;
    cursor: pointer;
}

#tdv_canvas .ticket .body {
    height: 90px;
    overflow: hidden;
    margin: 2px;
}

#tdv_canvas .ticket .relationships {
    float: left;
    background: white;
    border-top: 1px dotted blue;
    width: 100%;
    padding-top: 1px;
}

#tdv_canvas .ticket .relationships .side {
    width: 40%;
}

#tdv_canvas .ticket .relationships .left {
    float: left;
}

#tdv_canvas .ticket .relationships .right {
    float: right;
    text-align: right;
}

#tdv_canvas .ticket .relationships .box {
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid gray;
    height: 20px;
}

#tdv_canvas .line {
    position: absolute;
    z-index: 0;
}

#tdv_canvas .line.horizontal.parent,
#tdv_canvas .line.horizontal.child {
    border-top: 1px solid black;
}
#tdv_canvas .line.horizontal.dependent,
#tdv_canvas .line.horizontal.dependency {
    border-top: 1px dashed black;
}
#tdv_canvas .line.horizontal.associated {
    border-top: 1px dotted black;
}

#tdv_canvas .line.vertical.parent,
#tdv_canvas .line.vertical.child {
    border-left: 1px solid black;
}
#tdv_canvas .line.vertical.dependent,
#tdv_canvas .line.vertical.dependency {
    border-left: 1px dashed black;
}
#tdv_canvas .line.vertical.associated {
    border-left: 1px dotted black;
}

/* Animation definitions */

/* Standard */
@keyframes spinIn {
    0% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes spinIn {
    0% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes spinOut {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(90deg);
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes spinOut {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(90deg);
    }
}

.ticket_edit {
    visibility: hidden;
    float: right;
    color: #303030;
}
.ticket_edit.show_edit {
    visibility: visible;
}

#ticket_view_summary {
    width: 100%;
}